# MongoDB Development Environment Variables
MONGO_PORT=27017
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=change_me
MONGO_DATABASE=health_ai_db

# Redis Development Environment Variables
REDIS_PORT=6379
REDIS_PASSWORD=
